<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105523236701-5vdclgqc18s7jvkshckhhcs75qam3l0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105523236701-5vdclgqc18s7jvkshckhhcs75qam3l0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBielnsOQtaIXbnT0_aShxrZvSUl695Z9E</string>
	<key>GCM_SENDER_ID</key>
	<string>105523236701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companyApp</string>
	<key>PROJECT_ID</key>
	<string>companyapp-d3ecd</string>
	<key>STORAGE_BUCKET</key>
	<string>companyapp-d3ecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105523236701:ios:8c4f751b1071a9910ee2b4</string>
</dict>
</plist>